
<div class="event-parent">
    <h2> LOGIN</h2>
    <form class="event">
        <mat-form-field class="event-full-width">
            <mat-label> E-mail</mat-label>
            <input type="email" matInput placeholder="Ex: email@email.com" value="">
        </mat-form-field>
    
        <mat-form-field class="event-full-width">
            <mat-label> Senha</mat-label>
            <input type="password" matInput value="">
        </mat-form-field>
        <button mat-raised-button color="primary" class="event-full-width">Acessar</button>
    </form>
</div>