<div class="event-parent">
    <h2> NOVO CLIENTE</h2>
    <form class="event">

        <mat-form-field class="event-full-width">
            <mat-label> Nome</mat-label>
            <input type="text" matInput value="">
        </mat-form-field>

        <mat-form-field class="event-full-width">
            <mat-label> Telefone</mat-label>
            <input type="tel" matInput value="">
        </mat-form-field>

        <mat-form-field class="event-full-width">
            <mat-label> E-mail</mat-label>
            <input type="email" matInput value="">
        </mat-form-field>

        <mat-form-field class="event-full-width">
            <mat-label> Insta</mat-label>
            <input type="url"  matInput value="">
        </mat-form-field>


        <mat-form-field class="event-full-width">
            <mat-label> Facebook</mat-label>
            <input type="url" matInput value="">
        </mat-form-field>

        <mat-form-field class="event-full-width">
            <mat-label> Observação</mat-label>
            <input type="text" matInput value="">
        </mat-form-field>

        <button mat-raised-button color="primary" class="event-full-width">Salvar</button>

    </form>
</div>